<!DOCTYPE html>
<html lang="en-US">
<head>
  <!-- django 3
  python 3.8 -->
  <title>Tweeter Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- bootstrap4 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- css -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'tweeterapp/tweeter.css' %}">
</head>
  <body>
    <div class="row" style="margin-top:20px;">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="post">
          <h1>Tweeter App</h1>
          <h4>by bickolas liu</h4>
        </div>

        <!-- login -->
        <div class="post" style="margin-top:30px;">
          <form action="{% url 'authentication' %}" method="post" style="margin-top:10px;">
          {% csrf_token %}
            <label>username:</label>
            <input type="text" name="username"><br><br>
            <label>password:</label>
            <input type="password" name="password"><br><br>
            <!-- goes to authentication in views -->
            <button type="submit" class="btn btn-info btn-lg spcBot" style="margin-bottom:10px;margin-top:-15px;">Login</button>
          </form>
        </div>

        <!-- new user -->
        <button type="button" class="btn btn-warning btn-lg spcBot" data-toggle="modal" data-target="#createUser" style="margin-top:20px;">Create New User</button>

        <!-- create user modal -->
        <div id="createUser" class="modal fade" role="dialog">
          <div class="modal-dialog post">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header post">
                <h4 style="text-transform: capitalize; color:white;" class="modal-title">Create User</h4>
              </div>
              <div class="modal-body post">
                <form action="{% url 'newUser' %}" method="post">
                {% csrf_token %}
                  <label>username:</label>
                  <input type="text" name="username"><br><br>
                  <label>password:</label>
                  <input type="password" name="password"><br><br>
                  <label>type password again:</label>
                  <input type="password" name="password2"><br><br>
                  <button type="submit" class="btn btn-info btn-lg spcBot">Create</button>
                </form>
              </div>
              <div class="modal-footer post">
                <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="post" style="margin-top:30px;">
          <form action="{% url 'showStock' %}" method="post" style="margin-top:10px;">
          {% csrf_token %}
            <label>Stock Abbreviation:</label>
            <input type="text" name="name"><br><br>
            <!-- goes to showStock in views -->
            <button type="submit" class="btn btn-info btn-lg spcBot" style="margin-bottom:10px;margin-top:-15px;">Display Stock Info</button>
          </form>
          <form action="{% url 'showStockHistory' %}" method="post" style="margin-top:10px;">
          {% csrf_token %}
          <label>Stock Abbreviation:</label>
          <input type="text" name="name"><br><br>
          <!-- goes to showStockHistory in views -->
            <button type="submit" class="btn btn-info btn-lg spcBot" style="margin-bottom:10px;margin-top:-15px;">Click this to see stock histories <br>as well as a garbage speculation <br>that you should not follow</button>
          </form>
        </div>

      </div>
      <div class="col-3"></div>
    </div>
  </body>
</html>
